/target
/classes
/checkouts
/src/sync/compiled
/src/app/__pycache__
/compiled
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.clj-kondo/
*.bal
*.numbers
*.db
*.csv