/target
/classes
/checkouts
/src/sync/compiled
/src/app/__pycache__
/compiled
/.lsp
.calva
.clj-kondo
venv/
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.pyc
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.clj-kondo/
*.bal
*.numbers
*.db
*.db-*
*.csv
.DS_Store
.sesskey
