<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>ID</th>
      <th>Status</th>
      <th>Complexity</th>
      <th>Ranking</th>
    </tr>
  </thead>
  <tbody>
    {% for game in games %}
    <tr>
      <td class="link" hx-get="/game/{{ game.id }}" hx-target="#content" hx-push-url="true">{{ game.name }}</td>
      <td class="numeric">{{ game.id }}</td>
      <td>{{ game.status }}</td>
      <td class="numeric">{{ game.complexity|round(1) }}</td>
      <td class="numeric">{{ game.ranking }} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>