<table id="table-games" class="sortable-theme-dark" data-sortable>
  <thead>
    <tr>
      <th>Name</th>
      <th>ID</th>
      <th>Status</th>
      <th>Complexity</th>
      <th>Ranking</th>
      <th>Played</th>
    </tr>
  </thead>
  <tbody>
    {% for game in games %}
    <tr>
      <td class="link" hx-get="/game/{{ game.id }}" hx-target="#content" hx-push-url="true">{{ game.name }}</td>
      <td class="numeric">{{ game.id }}</td>
      <td>{{ game.status }}</td>
      <td class="numeric">{{ game.complexity|round(1) }}</td>
      <td class="numeric">{{ game.ranking }} </td>
      <td class="numeric">{{ game.games|int }}</td>
    </tr>
    {% endfor %}
  </tbody>
  <script type="text/javascript">
    document.getElementById("table-games").setAttribute("data-sortable-initialized", "false");
    Sortable.init();
  </script>
</table>