<!-- Iterate over the items in the dictionary -->
<table>
    <tbody>
        {% for dict_item in game %}
            {% for key, value in dict_item.items() %}
            <tr>
                <td style="text-align: right">{{ key|e }}</td>
                <td>
                    {% if key == 'uri' %}
                        <a href="{{ value }}">{{ value|e }}</a>
                    {% endif %}
                    {% if key != 'uri' %}
                        {{ value|e }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>