<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Front end to the Eurogames database.">
  <meta name="theme-color" content="#fafafa">
  <title>Eurogames</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/sortable-theme-dark.css') }}">
  <script src="{{ url_for('static', filename='js/sortable.min.js') }}"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/favicon.ico" sizes="any"/>

  <script src="https://unpkg.com/htmx.org@1.9.11"
    integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
    crossorigin="anonymous"></script>
</head>

<body>
  {% include 'header.html' %}
  <div id="content"></div>
</body>

</html>