<div id="table">
  <table id="table-winner" class="sortable-theme-dark" data-sortable>
    <thead>
      <tr>
        <th>Name</th>
        <th>Games</th>
        <th>Andrew</th>
        <th>Trish</th>
        <th>Draw</th>
      </tr>
    </thead>
    <tbody>
      {% for game in games %}
      <tr>
        <td class="link"><a hx-get="/game/{{ game.id }}" hx-target="#content" hx-push-url="true">{{ game.name|e }}</a></td>
        <td class="numeric">{{ game.Games|e }}</td>
        <td class="numeric">{{ game.Andrew|int() }}</td>
        <td class="numeric">{{ game.Trish|int() }}</td>
        <td class="numeric">{{ game.Draw|int() }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <script type="text/javascript">
      document.getElementById("table-winner").setAttribute("data-sortable-initialized", "false");
      Sortable.init();
    </script>
  </table>
</div>
<div id="viz">
  <div id="gamesData" data-arr='{{ games|tojson }}'></div>
  <div id="myplot"></div>
</div>
<script type="module">
  import * as Plot from "https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6/+esm";

  const createPlot = function (gameData) {
    const chart = Plot.plot({
      x: {
        axis: "top", 
        grid: true
      },
      marks: [
        Plot.ruleX([0]),
        Plot.axisY({label: null, lineWidth: 20, marginRight: [20, 0, 20, 80]}),
        Plot.barX(gameData, {x: "Andrew", y: "name", fill: "#88aaff"}),
        Plot.barX(gameData, {x: d => -d["Trish"], y: "name", fill: "#ff88cc"}),
      ]
    });
    return chart;
  }

  // Parse the games data from Flask and create the chart
  const gamesDataElement = document.getElementById('gamesData');
  const gamesData = gamesDataElement.getAttribute('data-arr');
  console.log(gamesData);
  const plot = createPlot(JSON.parse(gamesData));
  const div = document.querySelector("#myplot");
  while (div.firstChild) {
    div.removeChild(div.firstChild);
  }
  div.appendChild(plot); // Append the created chart to the div
</script>